body{
    background-color: rgb(255, 239, 242);
}
header, h4 {
    background-image: linear-gradient(rgb(75, 75, 255),rgb(255, 239, 242));
}
.jumbotron {
    background-image: linear-gradient(rgb(0, 0, 216),blue,rgb(155, 208, 255),rgb(255, 239, 242));
    color: whitesmoke;
}
#forecast >* {
    background-color: rgb(65, 64, 64);
    color: whitesmoke;
}
.prev {
    display: flex;
}
.danger {
    color: red;
}

.okay {
    color: rgb(255, 157, 0);
}

.safe {
    color: green;
}

.btn {
    background-color: rgb(9, 0, 141);
    color: whitesmoke;
    border: 2px solid black;
}

h2 {
    border-bottom: 2px solid black;;
    color: whitesmoke;
}

.card {
    background-image: linear-gradient( rgb(9, 0, 141),rgb(3, 3, 233),blue);
    padding: 15px;
    border: 2px solid black;

}

.hide > * {
    display: none;
}